fastapi==0.115.5
uvicorn[standard]==0.32.0

langgraph==0.2.55
langchain==0.3.9
langchain-groq==0.2.4
langchain-openai==0.2.10
langchain-community==0.3.9

duckduckgo-search==6.3.7

python-dotenv==1.0.1

pydantic>=2.11.7

sse-starlette==3.0.2

httpx==0.28.1

aiofiles==24.1.0

streamlit
requests